* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.header {
  background-color: black;
  color: aliceblue;
  width: 100vw;
  height: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;

}

h2 {
  font-weight: 700;
  font-size: xx-large;
  padding: 1rem;

}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
}

input {
  width: 20rem;
 padding: 1em;
 border: none;
 background-color: aliceblue;
 border-radius: 10px;
  margin: 0.2rem;
  height: 40px;
}

.display {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.2em;
  padding: 0.5rem;
  gap: 2em;
}

.display-cards {
  box-shadow: 10px 10px 10px rgb(166, 163, 163);
  margin: 0.1em;
  padding: 0.1rem;
  padding: 2em;
  
}

button {
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bolder;
  width: 5rem;
  transition: 3s;
}

button:hover {
  border: none;
  color: cadetblues;

}